[submodule "Plugins/Tempo"]
	path = Plugins/Tempo
	url = https://github.com/tempo-sim/Tempo.git
[submodule "Content/TempoAgentsVehicles"]
	path = Content/TempoAgentsVehicles
	url = https://github.com/tempo-sim/TempoAgentsVehicles.git
